<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="../static/bootstrap-5.2.2-dist/css/bootstrap.css">
</head>
<body>
<title>Compras Online</title>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Compras Online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link disabled" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario">Usuário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carrinhocompra">Carrinho de compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/supermecado">Supermecado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produto">Produto</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<h1>Bem vindo!</h1>
</body>
</html>